# EditorConfig is awesome: http://editorconfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space

[*.{css,js,json,php,xml}]
indent_size = 4
trim_trailing_whitespace = true
