# IDE-specific files
.idea/
*.sln.docstates
*.suo
*.user
*.userosscache
*.userprefs

# Jekyll generated
_site/

# OS-specific files
.*DS_Store
._*

# Visual Studio
.vs/
*.psess
*.vsp
*.vspx

# Visual Studio add-ins
## DotCover code coverage tool
*.dotCover
## JustCode add-in
.JustCode
## ReSharper add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
## TeamCity add-in
_TeamCity*

# Visual Studio Code
.vscode/

\.jekyll-metadata
