<div class="breadBoxTop">
    <nav>
        <fieldset class="breadcrumb">
            <div class="boardTitle"><strong>{{ site.title }}</strong></div>
            <span class="crumbs">
                <span class="crust homeCrumb">
                    <a href="/" class="crumb" rel="up" itemprop="url">
                        <span itemprop="title">Forums</span>
                    </a>
                    <span class="arrow"></span>
                </span>
                {% for breadcrumb in include.breadcrumbs %}
                    {% for item in breadcrumb %}
                    <span class="crust">
                        <a href="{{ item[1] | prepend: site.baseurl }}" class="crumb" rel="up" itemprop="url">
                            <span itemprop="title">{{ item[0] }}</span>
                        </a>
                        <span class="arrow"></span>
                    </span>
                    {% endfor %}
                {% endfor %}
            </span>
        </fieldset>
    </nav>
</div>
