<div class="resourceListBlock">
    <div class="resourceListMain">
        <div class="section">
            <meta http-equiv="refresh" content="5;url=https://umod.org/{{ include.uripath }}" />
            <div class="updateContainer section">
                <ol>
                    <li class="primaryContent messageSimple resourceUpdate">
                        <article class="resourceArticle">
                            <blockquote class="ugc baseHtml messageText">
                                <b>This page has been moved to <a href="https://umod.org/{{ include.uripath }}">https://umod.org/{{ include.uripath }}</a>.</b><br />
                                <i>You will be redirected to the new page in 5 seconds...</i>
                            </blockquote>
                        </article>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
